.react-datepicker,
.react-datepicker__month-container {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .react-datepicker {
    flex-direction: row !important;
  }

  .react-datepicker__month-container {
    width: 50% !important;
  }
}
